body, html, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'MoveSans-Bold', 'LeeSeoyun';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

div, input {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MoveSans-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}